html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.pink-card {
    background: #ffb6c1;
    border: 2px solid #ff69b4;
    border-radius: 16px;
    box-shadow: 0 2px 16px #ff69b4a0;
    padding: 2rem;
    color: #222;
}
.pink-card .card-title {
    color: #ff1493;
    font-weight: bold;
}
.sweet-pink {
    background-color: #ffb6c1 !important; /* Light Pink */
}

    .sweet-pink .nav-link {
        color: black !important; /* Make links readable */
        font-weight: 500;
    }

    .sweet-pink .navbar-brand {
        color: white !important;
        font-weight: bold;
    }
